# Linear Regression Example

A dataset containing information about various cars, including their specifications and selling prices. The task is to develop a machine learning model that can predict the selling price of a car based on its specifications.

In [62]:
import numpy as numpy
import pandas as pd

from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df = pd.read_csv("./cars.csv")
df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000

In [64]:
df.dtypes

Car_ID                int64
Brand                object
Model                object
Year                  int64
Kilometers_Driven     int64
Fuel_Type            object
Transmission         object
Owner_Type           object
Mileage               int64
Engine                int64
Power                 int64
Seats                 int64
Price                 int64
dtype: object

In [65]:
df = df.astype({
    "Brand": "category",
    "Model": "category",
    "Fuel_Type": "category",
    "Transmission": "category",
    "Owner_Type": "category"
})

In [66]:
df['Fuel_Type'] = df['Fuel_Type'].cat.codes
df['Transmission'] = df['Transmission'].cat.codes
df['Owner_Type'] = df['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3}).cat.codes
del df['Car_ID']

In [69]:
df.dtypes

Brand                category
Model                category
Year                    int64
Kilometers_Driven       int64
Fuel_Type                int8
Transmission             int8
Owner_Type               int8
Mileage                 int64
Engine                  int64
Power                   int64
Seats                   int64
Price                   int64
dtype: object

In [78]:
df.head()

,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Toyota,Corolla,2018,50000,1,1,0,15,1498,108,5,800000
1,Honda,Civic,2019,40000,1,0,1,17,1597,140,5,1000000
2,Ford,Mustang,2017,20000,1,0,0,10,4951,395,4,2500000
3,Maruti,Swift,2020,30000,0,1,2,23,1248,74,5,600000
4,Hyundai,Sonata,2016,60000,0,0,1,18,1999,194,5,850000

In [79]:
df_x = df[:, df.columns!= 'Price']

InvalidIndexError: (slice(None, None, None), array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False]))

In [76]:
reg = linear_model.LinearRegression()

In [77]:
reg.fit()

TypeError: LinearRegression.fit() missing 1 required positional argument: 'y'