# Spam Detection

## Using Bernoulli Naive Bayes

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB

In [2]:
df = pd.read_csv('./sms_spam_data/spam.txt', delimiter="\t", names=['lable', 'sms'])
x = df['sms']
y = df['lable']

In [3]:
x = df['sms']
y = df['lable']

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, )
print(x_train.head(2),end="\n\n\n")
print(y_train.head(2))

4020    U've been selected to stay in 1 of 250 top Bri...
4916    We took hooch for a walk toaday and i fell ove...
Name: sms, dtype: object


4020    spam
4916     ham
Name: lable, dtype: object

In [5]:
x_train

4020    U've been selected to stay in 1 of 250 top Bri...
4916    We took hooch for a walk toaday and i fell ove...
2620    <Forwarded from 21870000>Hi - this is your Mai...
1138                             LOL ... No just was busy
2337    Aww you must be nearly dead!Well Jez isComing ...
                              ...
4013                       Discussed with your mother ah?
1596          Pls confirm the time to collect the cheque.
11      SIX chances to win CASH! From 100 to 20,000 po...
927     But I'm on a diet. And I ate 1 too many slices...
1837                               Are you wet right now?
Name: sms, Length: 4457, dtype: object

In [6]:
vectorizer = CountVectorizer()
x_train_counts = vectorizer.fit_transform(x_train)

In [7]:
x_train_counts.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 1, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [8]:
pd.DataFrame(
    x_train_counts.todense(),
    columns=vectorizer.get_feature_names_out()
).head(3)

,00,000,000pes,008704050406,0089,01223585236,01223585334,0125698789,02,0207,...,zed,zeros,zhong,zindgi,zoe,zogtorius,zouk,zyada,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
classifier = BernoulliNB()
classifier.fit(x_train_counts, y_train)
y_pred = classifier.predict(vectorizer.transform(x_test))
accuracy_score(y_test, y_pred)

0.9757847533632287

# Iris Classification

## Using Gaussion Naive Bayes

In [10]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [11]:
x, y = load_iris(return_X_y=True)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, 
    test_size=0.2
    )

In [13]:
model = GaussianNB()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
accuracy_score(y_test, y_pred)

0.9333333333333333