# <center> <div style="width: 370px;"> ![Exercise](./../Pandas/pictures/Exercise.jpg)

# <center> Work in Titanic Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# <center> Load Data

In [2]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## Check Data

In [3]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [4]:
{col: df[col].nunique() for col in df  if df[col].dtype == object}

{'sex': 2, 'embarked': 3, 'who': 3, 'embark_town': 3, 'alive': 2}

In [5]:
df = df.astype(
    {
        'sex': 'category',
        'embarked': 'category',
        'who': 'category',
        'embark_town': 'category',
        'alive': 'category'
    }
)

In [6]:
df.alive = df.alive.cat.codes
df.sex = df.sex.cat.codes

In [7]:
df.dtypes

survived          int64
pclass            int64
sex                int8
age             float64
sibsp             int64
parch             int64
fare            float64
embarked       category
class          category
who            category
adult_male         bool
deck           category
embark_town    category
alive              int8
alone              bool
dtype: object

In [13]:
df.corr()

ValueError: could not convert string to float: 'S'

## Check Correlations

In [9]:
abs(df.corr()).style.background_gradient(cmap='Greens')

ValueError: could not convert string to float: 'S'

In [ ]:
df.corr().style.background_gradient(cmap='Reds')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_style()
plt.figure(figsize=(15, 10))
sns.heatmap(df.corr(), annot=True, annot_kws={"size": 10})
plt.show()

In [ ]:
df.corr().style

# describe Data

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df.shape